/* ---------- LAYOUT ---------- */
.timer-area {
  background: transparent url('area_patron.png') left top;
  text-align: center;
  padding-top: 4em;
  margin-bottom: auto;
}
.timer-area h1 {
  color: white;
}

/* ---------- TIMER ---------- */
ul#countdown li {
  display: inline-block;
  background: transparent url('pieza_tiempo.png') no-repeat left top;
  width: 104px;
  margin-bottom: 4em;
  text-align: center;
}
ul#countdown li span {
  font-size: 3em;
  font-weight: bold;
  color: #1f2225;
  height: 108px;
  line-height: 108px;
  position: relative;
}
ul#countdown li span::before {
  content: '';
  width: 100%;
  height: 1px;
  border-top: 1px solid white;
  position: absolute;
  top: 31px;
}
ul#countdown li p.timeRefDays,
ul#countdown li p.timeRefHours,
ul#countdown li p.timeRefMinutes,
ul#countdown li p.timeRefSeconds {
  margin-top: 1em;
  color: #909091;
  text-transform: uppercase;
  font-size: .875em;
}
